<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Rubio Haro Digital</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/Inicio">Inicio
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/Empresas">Servicios</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/Detalles/1">Precios</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/Contacto">Contacto</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="/Ubicacion">Ubicacion</a>
      </li>

    </ul>
    <span class="navbar-text">
      Soluciones Digitales
    </span>
  </div>
</nav>


<div class="container">
  <div>
    <router-outlet></router-outlet>
    <!--

  <hr/>
    <h2>Autor: {{a}}</h2>
    <button [disabled]="BloqueoRegistro" (click)="Alertar()">Registro</button>
    <input name="User" placeholder="Ingresa tu User" id="User" [(ngModel)]="nombre" />
    <hr/>
    <br>
    <p>
      Nombre: {{nombre}}
    </p>
  -->
  </div>
</div>